Options -Indexes

DirectoryIndex public/index.html

RewriteEngine On
RewriteRule ^$ public/ [L]
RewriteRule ^public$ public/ [L]

RewriteCond %{REQUEST_URI} !^/calculadora/public/
RewriteRule ^(api/.*)$ public/$1 [L]
